{% extends '/layouts/base.html.twig' %}

{% block title 'Property index'%}

{% block body %}

<h1>Liste des ...</h1>

{% for property in properties %}
    <h1>{{ property.title }}</h1>
{% endfor %}

{% endblock %}
